.actions-card {
  width: 100%;
}

.actions {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.actions mat-form-field {
  width: 100%;
}

.action-buttons {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.action-buttons button {
  width: 100%;
}